<a href="https://colab.research.google.com/github/GiriveniShiva/Al/blob/main/Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mount google Drive

#Import required libraries

> Indented block

In [ ]:
import numpy as np
import math as mt
import random
import pandas as pd

#Import data

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Assignment5/Load Data in kW.csv')
data.head()

           x1          x2          x3           y
0  5551.82208  4983.17184  4888.39680  5072.95872
1  4983.17184  4888.39680  5072.95872  5196.25980
2  4888.39680  5072.95872  5196.25980  5641.29720
3  5072.95872  5196.25980  5641.29720  7153.17732
4  5196.25980  5641.29720  7153.17732  7849.80504

#Outer Line detection

In [ ]:
outliers = []
def detect_outliers_zscore(data):
    thres = 3
    mean = np.mean(data)
    std = np.std(data)
    # print(mean, std)
    for i in data:
        z_score = (i-mean)/std
        if (np.abs(z_score) > thres):
            outliers.append(i)
    return outliers# Driver code

In [ ]:
sample_outliers_X1 = detect_outliers_zscore(data['x1'])
sample_outliers_X2 = detect_outliers_zscore(data['x2'])
sample_outliers_X3 = detect_outliers_zscore(data['x3'])
sample_outliers_Y = detect_outliers_zscore(data['y'])
print("Outliers in X1 column from Z-scores method: ", sample_outliers_X1)
print("Outliers in X2 column from Z-scores method: ", sample_outliers_X2)
print("Outliers in X3 column from Z-scores method: ", sample_outliers_X3)
print("Outliers in Y column from Z-scores method: ", sample_outliers_Y)

Outliers in X1 column from Z-scores method:  [805444.4304, 805444.4304, 805444.4304, 805444.4304, 805444.4304, 805444.4304, 805444.4304]
Outliers in X2 column from Z-scores method:  [805444.4304, 805444.4304, 805444.4304, 805444.4304, 805444.4304, 805444.4304, 805444.4304]
Outliers in X3 column from Z-scores method:  [805444.4304, 805444.4304, 805444.4304, 805444.4304, 805444.4304, 805444.4304, 805444.4304]
Outliers in Y column from Z-scores method:  [805444.4304, 805444.4304, 805444.4304, 805444.4304, 805444.4304, 805444.4304, 805444.4304]

#Missing  values Treatment

In [ ]:
print(data.isnull().sum())

x1    0
x2    0
x3    0
y     0
dtype: int64

In [ ]:
m1=data['x1'].mean()
m2=data['x2'].mean()
m3=data['x3'].mean()
m4=data['y'].mean()
data['x1'].fillna(value=m1, inplace=True)
data['x2'].fillna(value=m2, inplace=True)
data['x3'].fillna(value=m3, inplace=True)
data['y'].fillna(value=m4, inplace=True)
data

              x1          x2          x3           y
0     5551.82208  4983.17184  4888.39680  5072.95872
1     4983.17184  4888.39680  5072.95872  5196.25980
2     4888.39680  5072.95872  5196.25980  5641.29720
3     5072.95872  5196.25980  5641.29720  7153.17732
4     5196.25980  5641.29720  7153.17732  7849.80504
...          ...         ...         ...         ...
2176  5315.50800  5294.62008  5045.52384  4626.51840
2177  5294.62008  5045.52384  4626.51840  4567.90752
2178  5045.52384  4626.51840  4567.90752  4723.63164
2179  4626.51840  4567.90752  4723.63164  5150.27520
2180  4567.90752  4723.63164  5150.27520  6938.37468

[2181 rows x 4 columns]

# Min and max values

In [ ]:

x1_min=data['x1'].min()
x1_max=data['x1'].max()
x2_min=data['x2'].min()
x2_max=data['x2'].max()
x3_min=data['x3'].min()
x3_max=data['x3'].max()
y_min=data['y'].min()
y_max=data['y'].max()
print(x1_min, x1_max, x2_min, x2_max, x3_min, x3_max, y_min, y_max )

3377.9196 805444.4304 3377.9196 805444.4304 3377.9196 805444.4304 3377.9196 805444.4304

#Normalization

In [ ]:
from sklearn.preprocessing import MinMaxScaler
X1 = np.array(data['x1']).reshape(-1,1)
scaler = MinMaxScaler()
scaler.fit(X1)
X1_scaled = scaler.transform(X1)
data['X1'] = X1_scaled.reshape(1,-1)[0]

X2 = np.array(data['x2']).reshape(-1,1)
scaler = MinMaxScaler()
scaler.fit(X2)
X2_scaled = scaler.transform(X2)
data['x2'] = X2_scaled.reshape(1,-1)[0]

X3 = np.array(data['x3']).reshape(-1,1)
scaler = MinMaxScaler()
scaler.fit(X3)
X3_scaled = scaler.transform(X3)
data['x3'] = X3_scaled.reshape(1,-1)[0]

In [ ]:
Y1 = np.array(data['y']).reshape(-1,1)
scaler = MinMaxScaler()
scaler.fit(Y1)
Y_scaled = scaler.transform(Y1)
data['y'] = Y_scaled.reshape(1,-1)[0]

#Data split

In [ ]:
from sklearn.model_selection import train_test_split
dataframe = data.values
X, y = dataframe[:, :-1], dataframe[:, -1]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.10, random_state = 10)
x_train

array([[4.70913480e+03, 1.59326468e-03, 2.45733576e-03, 2.35549742e-03],
       [5.83037964e+03, 2.78967079e-03, 3.05767665e-03, 3.47222087e-03],
       [4.59736884e+03, 1.47646155e-03, 1.78392004e-03, 3.31985206e-03],
       ...,
       [6.71141340e+03, 3.03571533e-03, 3.24949810e-03, 3.31829728e-03],
       [4.61498328e+03, 1.16900305e-03, 1.36665494e-03, 1.77439699e-03],
       [5.76179244e+03, 2.81610212e-03, 2.57452759e-03, 2.50164710e-03]])

#Initialization

In [ ]:
m1=random.uniform(-10,10)
m2=random.uniform(-10,10)
m3=random.uniform(-10,10)
c=random.uniform(-10,10)
eta=0.1
max_iter=10000

#Gradient calculation

In [ ]:
def gradient(m1,m2,m3,c,x1,x2,x3,y):
  m1_deriv=-1*(y-m1*x1-m2*x2-m3*x3-c)*x1
  m2_deriv=-1*(y-m1*x1-m2*x2-m3*x3-c)*x2
  m3_deriv=-1*(y-m1*x1-m2*x2-m3*x3-c)*x3
  c_deriv= -1*(y-m1*x1-m2*x2-m3*x3-c)
  return m1_deriv,m2_deriv,m3_deriv,c_deriv

#training using stochastic gradient descent optimizer

In [ ]:
for iter in range(max_iter):
  for sample in range(x_train.shape[0]):
    del_m1,del_m2,del_m3,del_c=gradient(m1,m2,m3,c, x_train[sample,0],x_train[sample,1],x_train[sample,2],y_train[sample])
    m1=m1-eta*del_m1
    m2=m2-eta*del_m2
    m3=m3-eta*del_m3
    c=c-eta*del_c
print(f'Model parameters m1=', m1,'m2=',m2,'m3=',m3,'and c=',c)

Model parameters m1= nan m2= nan m3= nan and c= nan

#Model predection on training data

In [ ]:
y_pred_train = []
for sample in range(x_train.shape[0]):
  x1=x_train[sample,0]
  x2=x_train[sample,1]
  x3=x_train[sample,2]
  y=y_train[sample]
  y_p_tr = (m1 * x1) + (m2 * x2) + (m3*x3) + c 
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

#Model predection on testing data

In [ ]:
y_pred_test = []
for sample in range(x_test.shape[0]):
  x1=x_test[sample,0]
  x2=x_test[sample,1]
  x3=x_test[sample,2]
  y=y_test[sample]
  y_p_te = (m1 * x1) + (m2 * x2) + (m3*x3) + c 
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

#Error metrics calculation

In [ ]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

ValueError: ignored